# OAuth settings
client_id = public_client_id
client_secret = super_secret_code
redirect_uri = http://biscicol.org/biocode-fims/rest/authenticationService/access_token/
authorize_uri = http://biscicol.org/id/authenticationService/oauth/authorize?
access_token_uri = http://www.biscicol.org/id/authenticationService/oauth/access_token
profile_uri = http://www.biscicol.org/id/userService/oauth?access_token=
refresh_uri = http://biscicol.org/id/authenticationService/oauth/refresh

# BCID URI's
naan = 21547
authentication_uri = http://www.biscicol.org/id/authenticationService/login
ark_creation_uri = http://www.biscicol.org/id/groupService
associate_uri = http://www.biscicol.org/id/expeditionService/associate
expedition_creation_uri = http://www.biscicol.org/id/expeditionService
expedition_validation_uri = http://www.biscicol.org/id/expeditionService/validateExpedition/
available_projects_uri = http://www.biscicol.org/id/projectService/listUserProjects
project_lookup_uri = http://www.biscicol.org/id/projectService/validation/
deeproots_uri = http://www.biscicol.org/id/expeditionService/deepRoots/
project_service_uri = http://www.biscicol.org/id/projectService/list
expedition_list_uri = http://www.biscicol.org/id/expeditionService/list/
expedition_public_status_uri = http://www.biscicol.org/id/expeditionService/publicExpedition/
graphs_uri = http://www.biscicol.org/id/projectService/graphs/
my_graphs_uri = http://www.biscicol.org/id/projectService/myGraphs/
save_template_config_uri = http://www.biscicol.org/id/projectService/saveTemplateConfig/
get_template_config_uri = http://www.biscicol.org/id/projectService/getTemplateConfig/
get_template_configs_uri = http://www.biscicol.org/id/projectService/getTemplateConfigs/
remove_template_config_uri = http://www.biscicol.org/id/projectService/removeTemplateConfig/

fims_service_root = http://biscicol.org/biocode-fims/rest/
rootName = biocode-fims

# location to save spreadsheets to filesystem
serverRoot = /opt/jetty-files/

# ignore_user defaults to false. If set to true then application does not run check to see if user is unique
# for a particular dataset.  That is, it allows users besides the dataset creator to load data to this dataset
ignore_user = false

# when set to true, stack traces will be returned form the server when exceptions occur.
# should be set to false for production use.
debug = false

# when set to true, fims will replace the spreadsheet column header with the column_internal (specified in the project
# config xml) when saving datasets. When set to false, fims will make a double row header placing column_internal in the
# first row of the spreadsheet.
replaceHeader = false

# get you're access token by visiting https://www.mapbox.com/account/apps/
mapboxAccessToken = your_access_token
