#details_text.fixed {
  position: fixed;
  top: 0;
}
.bg_gray {
	background-color: #B8B8B8;
}
.span7{
			border-right: 1px solid #eee;
		}
		.span12{
			border-top: 1px solid #eee;
		}
		.picked_tags ul{
			display: inline;
		}
		.picked_tags ul li{
			display: inline;
		}
		.nav-tabs > .voucher_tab > a:hover, .nav-tabs > .voucher_tab.active > a {
			background-color: #FFCC00;
		}
		.nav-tabs > .voucher_tab > a {
			background-color: #F9E38C;
		}
		.nav-tabs > .tax_tab > a:hover, .nav-tabs > .tax_tab.active > a {
			background-color: #CC99FF;
		}
		.nav-tabs > .tax_tab > a {
			background-color: #EADCF8;
		}
		.nav-tabs > .spec_tab > a:hover, .nav-tabs > .spec_tab.active > a {
			background-color: #99CCFF;
		}
		.nav-tabs > .spec_tab > a {
			background-color: #C2DEFB;
		}
		.nav-tabs > .col_tab > a:hover, .nav-tabs > .col_tab.active > a {
			background-color: #99CC00;
		}
		.nav-tabs > .col_tab > a {
			background-color: #D9F979;
		}
		.tab-content {
			height: 200px;
		}